HolidayReservationSystemJavaSeClient/src/META-INF/wsdl/localhost_8080/SearchOperationWebService/SearchOperationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidRoomReservationEntityException" type="tns:InvalidRoomReservationEntityException"/>

<xs:element name="LineItemExistException" type="tns:LineItemExistException"/>

<xs:element name="NoAvailableRoomOptionException" type="tns:NoAvailableRoomOptionException"/>

<xs:element name="RoomTypeNotFoundException" type="tns:RoomTypeNotFoundException"/>

<xs:element name="UnknownPersistenceException" type="tns:UnknownPersistenceException"/>

<xs:element name="makeReservation" type="tns:makeReservation"/>

<xs:element name="makeReservationResponse" type="tns:makeReservationResponse"/>

<xs:element name="searchRoom" type="tns:searchRoom"/>

<xs:element name="searchRoomResponse" type="tns:searchRoomResponse"/>

<xs:complexType name="makeReservation">
<xs:sequence>
<xs:element name="cinYear" type="xs:int"/>
<xs:element name="cinMonth" type="xs:int"/>
<xs:element name="cinDay" type="xs:int"/>
<xs:element name="coutYear" type="xs:int"/>
<xs:element name="coutMonth" type="xs:int"/>
<xs:element name="coutDay" type="xs:int"/>
<xs:element name="numberOfRooms" type="xs:int"/>
<xs:element name="userId" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:double"/>
<xs:element name="paymentType" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomTypeNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidRoomReservationEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LineItemExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnknownPersistenceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoom">
<xs:sequence>
<xs:element name="cinYear" type="xs:int"/>
<xs:element name="cinMonth" type="xs:int"/>
<xs:element name="cinDay" type="xs:int"/>
<xs:element name="coutYear" type="xs:int"/>
<xs:element name="coutMonth" type="xs:int"/>
<xs:element name="coutDay" type="xs:int"/>
<xs:element name="numberOfRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:pairRemote" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pairRemote">
<xs:sequence>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomTypeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomTypeEntity">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bed" type="xs:int" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="roomEntities" type="tns:roomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRanking" type="xs:int" minOccurs="0"/>
<xs:element name="roomSize" type="xs:string" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomEntity">
<xs:sequence>
<xs:element name="roomEntityId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomStatus" type="tns:roomStatusEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomTypeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoAvailableRoomOptionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="roomStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="NOTAVAILABLE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>