HolidayReservationSystemJavaSeClient/src/META-INF/wsdl/localhost_8080/SearchOperationWebService/SearchOperationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="SearchOperationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/SearchOperationWebService/SearchOperationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="makeReservation">
<part name="parameters" element="tns:makeReservation"/>
</message>
<message name="makeReservationResponse">
<part name="parameters" element="tns:makeReservationResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="InvalidRoomReservationEntityException">
<part name="fault" element="tns:InvalidRoomReservationEntityException"/>
</message>
<message name="LineItemExistException">
<part name="fault" element="tns:LineItemExistException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="searchRoom">
<part name="parameters" element="tns:searchRoom"/>
</message>
<message name="searchRoomResponse">
<part name="parameters" element="tns:searchRoomResponse"/>
</message>
<message name="NoAvailableRoomOptionException">
<part name="fault" element="tns:NoAvailableRoomOptionException"/>
</message>
<portType name="SearchOperationWebService">
<operation name="makeReservation">
<input wsam:Action="http://ws.session.ejb/SearchOperationWebService/makeReservationRequest" message="tns:makeReservation"/>
<output wsam:Action="http://ws.session.ejb/SearchOperationWebService/makeReservationResponse" message="tns:makeReservationResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/SearchOperationWebService/makeReservation/Fault/RoomTypeNotFoundException"/>
<fault message="tns:InvalidRoomReservationEntityException" name="InvalidRoomReservationEntityException" wsam:Action="http://ws.session.ejb/SearchOperationWebService/makeReservation/Fault/InvalidRoomReservationEntityException"/>
<fault message="tns:LineItemExistException" name="LineItemExistException" wsam:Action="http://ws.session.ejb/SearchOperationWebService/makeReservation/Fault/LineItemExistException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/SearchOperationWebService/makeReservation/Fault/UnknownPersistenceException"/>
</operation>
<operation name="searchRoom">
<input wsam:Action="http://ws.session.ejb/SearchOperationWebService/searchRoomRequest" message="tns:searchRoom"/>
<output wsam:Action="http://ws.session.ejb/SearchOperationWebService/searchRoomResponse" message="tns:searchRoomResponse"/>
<fault message="tns:NoAvailableRoomOptionException" name="NoAvailableRoomOptionException" wsam:Action="http://ws.session.ejb/SearchOperationWebService/searchRoom/Fault/NoAvailableRoomOptionException"/>
</operation>
</portType>
<binding name="SearchOperationWebServicePortBinding" type="tns:SearchOperationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="makeReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="InvalidRoomReservationEntityException">
<soap:fault name="InvalidRoomReservationEntityException" use="literal"/>
</fault>
<fault name="LineItemExistException">
<soap:fault name="LineItemExistException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
</operation>
<operation name="searchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoAvailableRoomOptionException">
<soap:fault name="NoAvailableRoomOptionException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SearchOperationWebService">
<port name="SearchOperationWebServicePort" binding="tns:SearchOperationWebServicePortBinding">
<soap:address location="http://localhost:8080/SearchOperationWebService/SearchOperationWebService"/>
</port>
</service>
</definitions>