HolidayReservationSystemJavaSeClient/src/META-INF/wsdl/localhost_8080/PartnerEntityWebService/PartnerEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerEntityWebService/PartnerEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="createNewPartner">
<part name="parameters" element="tns:createNewPartner"/>
</message>
<message name="createNewPartnerResponse">
<part name="parameters" element="tns:createNewPartnerResponse"/>
</message>
<message name="UsernameExistException">
<part name="fault" element="tns:UsernameExistException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="retrievePartnerByUsername">
<part name="parameters" element="tns:retrievePartnerByUsername"/>
</message>
<message name="retrievePartnerByUsernameResponse">
<part name="parameters" element="tns:retrievePartnerByUsernameResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="retrieveAllPartner">
<part name="parameters" element="tns:retrieveAllPartner"/>
</message>
<message name="retrieveAllPartnerResponse">
<part name="parameters" element="tns:retrieveAllPartnerResponse"/>
</message>
<portType name="PartnerEntityWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="createNewPartner">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewPartnerRequest" message="tns:createNewPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewPartnerResponse" message="tns:createNewPartnerResponse"/>
<fault message="tns:UsernameExistException" name="UsernameExistException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewPartner/Fault/UsernameExistException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewPartner/Fault/UnknownPersistenceException"/>
</operation>
<operation name="retrievePartnerByUsername">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrievePartnerByUsernameRequest" message="tns:retrievePartnerByUsername"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrievePartnerByUsernameResponse" message="tns:retrievePartnerByUsernameResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrievePartnerByUsername/Fault/PartnerNotFoundException"/>
</operation>
<operation name="retrieveAllPartner">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveAllPartnerRequest" message="tns:retrieveAllPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveAllPartnerResponse" message="tns:retrieveAllPartnerResponse"/>
</operation>
</portType>
<binding name="PartnerEntityWebServicePortBinding" type="tns:PartnerEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="createNewPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsernameExistException">
<soap:fault name="UsernameExistException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerEntityWebService">
<port name="PartnerEntityWebServicePort" binding="tns:PartnerEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerEntityWebService/PartnerEntityWebService"/>
</port>
</service>
</definitions>